.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 20px;
  font-style: initial;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease; /* Suavidade ao interagir */
}

.nav-links a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
  font-size: x-large;
}

.nav-links li:hover {
  color: #007BFF; /* Cor ao passar o mouse */
  transform: scale(1.1); /* Leve aumento no hover */
}

.nav-links a:hover {
  color: #007BFF;
}

.user-icon img {
  height: 30px;
  cursor: pointer;
}

.nav-links .dropdown {
  cursor: pointer;
  transition: transform 0.3s ease; /* Suavidade ao interagir */
}

.nav-links .dropdown:hover {
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.nav-links .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 10px 0;
  min-width: 150px;
  z-index: 10;
  opacity: 0; /* Inicialmente oculto */
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animação ao exibir */
  transform: translateY(-10px); /* Efeito de subida */
}

.nav-links .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1; /* Torna visível */
  visibility: visible;
  transform: translateY(0); /* Movimento suave para baixo */
}

.nav-links .dropdown-menu li {
  padding: 5px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Suavidade ao interagir */
}

.nav-links .dropdown-menu li a {
  text-decoration: none;
  color: #333;
}

.nav-links .dropdown-menu li:hover {
  background-color: #f0f0f0; /* Destaque ao hover */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}
