.visualizar-clientes {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clientes-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cliente-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cliente-info {
  max-width: 70%;
  cursor: pointer;
}

.cliente-info p {
  margin: 5px 0;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
